.navbar-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 18px 31px rgba(0, 0, 0, 0.97);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.htborius1 {
  position: absolute;
  height: 42%;
  width: 10.97%;
  top: 30%;
  left: 10%;
  display: inline-block;
  cursor: pointer;
}
.home1 {
  color: var(--color-black);
}
.about3,
.home1 {
  position: relative;
  cursor: pointer;
}
.home-parent {
  position: absolute;
  height: 35%;
  width: 45.49%;
  top: 31.94%;
  right: 10%;
  bottom: 33.06%;
  left: 44.51%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-100);
}
.navbar1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00b2ff;
  width: 1440px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.header-inner {
  position: absolute;
  height: 100%;
  width: 35.22%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 64.78%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.hi-everyone-i {
  position: absolute;
  top: 0;
  left: 0;
}
.huutan,
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 25.3%;
  left: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.lorem-ipsum-dolor1 {
  width: 100%;
  top: 69.88%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  display: inline-block;
}
.hi-everyone-i-am-parent {
  position: absolute;
  height: 31.68%;
  width: 56.61%;
  top: 26.34%;
  right: -9.13%;
  bottom: 41.98%;
  left: 52.52%;
  font-size: var(--font-size-5xl);
}
.download-from-the-cloud {
  position: absolute;
  top: 0;
  left: 155px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.download-cv {
  position: absolute;
  top: 16.67%;
  left: 0;
}
.download-from-the-cloud-parent {
  position: absolute;
  top: 337px;
  left: 45px;
  width: 185px;
  height: 30px;
  color: var(--color-white);
}
.group-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.explore-more,
.rectangle-group {
  position: absolute;
  top: 31.25%;
  left: 25.55%;
}
.rectangle-group {
  height: 12.21%;
  width: 23.83%;
  top: 66.6%;
  right: -1.74%;
  bottom: 21.18%;
  left: 77.91%;
  cursor: pointer;
}
.my-project-1-1-11 {
  position: absolute;
  height: 100.14%;
  width: 35.22%;
  top: 0;
  right: 0;
  bottom: -0.14%;
  left: 64.78%;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.header1 {
  position: absolute;
  top: 181px;
  left: 145px;
  width: 1150px;
  height: 524px;
  text-align: left;
  color: var(--color-steelblue-100);
}
.about-item,
.about5 {
  position: absolute;
  top: 0;
  left: 0;
}
.about-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-deepskyblue-100);
}
.about5 {
  font-weight: 600;
  text-align: left;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  height: 66.48%;
  width: 100%;
  top: 33.52%;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  display: inline-block;
}
.about-me1 {
  position: absolute;
  top: 12.57%;
  left: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.about-group,
.about-inner {
  position: absolute;
  height: 58.12%;
  width: 39.17%;
  top: 27.44%;
  right: 50%;
  bottom: 14.45%;
  left: 10.83%;
}
.about-inner {
  height: 63.31%;
  width: 33.26%;
  top: -94.16%;
  right: 58.33%;
  bottom: 130.84%;
  left: 8.4%;
  border-radius: var(--br-21xl);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about4 {
  position: absolute;
  top: 785px;
  left: 0;
  background-color: #18b9dc;
  width: 1440px;
  height: 616px;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue-100);
}
.skills3 {
  position: absolute;
  top: 0;
  left: calc(50% - 44.5px);
  font-weight: 600;
}
.what-i-am1 {
  position: absolute;
  top: 23.49%;
  left: calc(50% - 271.5px);
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.adobe-photoshop-cc-icon-12x-1,
.image-22x-1-icon {
  position: absolute;
  top: 154px;
  left: 164.5px;
  width: 111px;
  height: 107px;
  object-fit: cover;
}
.image-22x-1-icon {
  left: 593.5px;
  width: 114px;
  height: 112px;
}
.skills2 {
  position: absolute;
  top: 1481px;
  left: 283.5px;
  width: 873px;
  height: 281px;
  font-size: var(--font-size-13xl);
  color: var(--color-steelblue-100);
}
.projects-item {
  position: absolute;
  height: 47.24%;
  width: 23.54%;
  top: 12.46%;
  right: 66.04%;
  bottom: 40.3%;
  left: 10.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.projects3,
.what-i-have1 {
  position: absolute;
  display: inline-block;
}
.projects3 {
  height: 6.3%;
  width: 9.58%;
  top: 0;
  left: 45.21%;
  font-weight: 600;
}
.what-i-have1 {
  height: 9.45%;
  width: 32.08%;
  top: 6.3%;
  left: 33.96%;
  font-size: var(--font-size-29xl);
}
.image-4-icon1,
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: absolute;
  height: 47.24%;
  width: 23.82%;
  top: 12.46%;
  right: 38.13%;
  bottom: 40.3%;
  left: 38.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  height: 36.94%;
  width: 23.54%;
  top: 61%;
  right: 66.04%;
  bottom: 2.06%;
  left: 10.42%;
}
.image-7-icon,
.image-8-icon {
  height: 37.05%;
  width: 23.82%;
  right: 38.13%;
  bottom: 1.95%;
  left: 38.06%;
}
.image-8-icon {
  width: 23.89%;
  right: 10.14%;
  left: 65.97%;
}
.projects2 {
  position: absolute;
  top: 1842px;
  left: 0;
  background-color: var(--color-deepskyblue-100);
  width: 1440px;
  height: 923px;
  font-size: var(--font-size-13xl);
}
.image-5-icon2 {
  position: absolute;
  height: 13.18%;
  width: 23.82%;
  top: 60.06%;
  right: 10.14%;
  bottom: 26.76%;
  left: 66.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.htnoseventgmailcom1 {
  position: absolute;
  height: 8.16%;
  width: 59.41%;
  top: 39.46%;
  left: 0;
  display: inline-block;
}
.instagram-icon1,
.linkedin-icon1 {
  position: absolute;
  height: 13.46%;
  width: 6.91%;
  top: 50.46%;
  right: 93.09%;
  bottom: 36.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.instagram-icon1 {
  right: 73.4%;
  left: 19.69%;
}
.contacts1,
.copyright-20231,
.get-in-touch1 {
  position: absolute;
  height: 8.5%;
  width: 100%;
  top: 91.5%;
  left: 0;
  display: inline-block;
}
.contacts1,
.get-in-touch1 {
  height: 20.18%;
  width: 52.5%;
  top: 15.48%;
  font-size: var(--font-size-29xl);
}
.contacts1 {
  height: 11.77%;
  width: 22.97%;
  top: 0;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.footer1 {
  position: absolute;
  height: 9.03%;
  width: 40.21%;
  top: 89.86%;
  right: 49.72%;
  bottom: 1.11%;
  left: 10.07%;
}
.image-2-icon1,
.image-3-icon {
  position: absolute;
  object-fit: cover;
}
.image-2-icon1 {
  top: 205px;
  left: 121px;
  border-radius: 43px;
  width: 479px;
  height: 390px;
}
.image-3-icon {
  top: 947px;
  left: 907px;
  width: 394px;
  height: 394px;
}
.adobe-illustrator-cc-icon-12x,
.image-52x-1-icon1 {
  position: absolute;
  top: 1639px;
  left: 663px;
  width: 114px;
  height: 106px;
  object-fit: cover;
}
.image-52x-1-icon1 {
  top: 3073px;
  left: 201px;
  width: 41px;
  height: 41px;
}
.desktop-11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-azure);
  width: 1440px;
  height: 3255px;
}
.desktop-1-parent {
  position: relative;
  width: 100%;
  height: 3255px;
  text-align: justify;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-sora);
}
